.middle-part {
    height: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
/*     background-color: #040013; */
}

.put-information__container {
    width: 366px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*     background-color: rgb(58, 211, 211); */
}

.avatar__container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #CDBDDB;
    border-radius: 16px;
    border-style: dashed;
    margin-bottom: 30px;
}

#avatar__text {
    width: 191px;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

#download-photo__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #CCCCCC;
}

.input-areas {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-area__container {
    height: 56px;
    border-radius: 8px;
    background-color: #F4F4F6;
    margin-bottom: 24px;
    font-size: 16px;
}

.input-name {
    width: 366px;
    outline: none;
    border: 0;
    margin: 16px 12px;
}

#name {
    outline: none;
    border: 0px;
    width: 342px;
    height: 24px;
    background-color: #F4F4F6;
    font-size: 16px;
    margin: 16px 12px;
}

.man-woman__container {
    width: 192px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.radio {
    width: 16px;
    height: 16px;
    margin: 4px;
    background-image: src="/src/img/radio.svg";
}

.choice {
    font-size: 16px;
    font-weight: 500;
    margin-right: 16px;
}

.input-date{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background-color: #F4F4F6;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#date{
    outline: none;
    border: 0px;
    width: 140px;
    height: 24px;
    background-color: #F4F4F6;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 12px;
    margin-right: 8px;
}

#calendar {
    margin-right: 8px;
}

.input-tg {
    width: 366px;
    height: 56px;
    border-radius: 8px;
    background-color: #F4F4F6;
    margin-top: 24px;
}

#tg {
    outline: none;
    border: 0px;
    width: 342px;
    height: 24px;
    background-color: #F4F4F6;
    font-size: 16px;
    margin: 16px 12px;
}

.input-number {
    width: 366px;
    height: 56px;
    border-radius: 8px;
    background-color: #F4F4F6;
    margin-top: 24px;
}

#number {
    outline: none;
    border: 0px;
    width: 342px;
    height: 24px;
    background-color: #F4F4F6;
    font-size: 16px;
    margin: 16px 12px;
}

.input-about-myself {
    width: 366px;
    height: 128px;
    border-radius: 8px;
    background-color: #F4F4F6;
    margin-top: 24px;
}

#about-myself { 
    resize: none;
    overflow: hidden;
    border: 0px;
    width: 342px;
    height: 96px;
    background-color: #F4F4F6;
    font-size: 16px;
    margin: 16px 12px;
}

.comment-about-myself {
    width: 366px;
    height: 42px;
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
}
::-webkit-input-placeholder { 
    color: #A1A6B1;
    font-family: Museo Sans Cyrl;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -1%;
}

.future-page__container {
    height: 410px;
    margin-top: 40px;
/*     background-color: rgb(58, 211, 211); */
    display: flex;
    flex-direction: column;
    justify-content: space-between
    align-items: start;
}

.future-page__text {
    padding-left: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #5D5B66;
}

.future-page-information__container {
    height: 258px;
    margin-top: 16px;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 20px;
    box-shadow: 
        0px 5.85px 22.15px 0 rgba(133,94,152,5.01%),
        0px 5.85px 22.15px 0 rgba(133,94,152,5.01%),
        0px 2.87px 10.86px 0 rgba(133,94,152,3.99%),
        0px 1.13px 4.29px 0 rgba(133,94,152,2.79%);
}

.photo__container {
    width: 140px;
    height: 174px;
    margin-bottom: 64px;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.photo-space {
    width: 140px;
    height: 140px;
    border: 1px solid #EBEBEB;
    border-style: dashed;
    border-radius: 16px;
}


.future-page-text__container {
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#name-2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}

.characteristic {
    height: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 4px;
}

.dot-grey {
    width: 3px;
    height: 5px;
}

.rectangle-grey {
    height: 11px;
    background-color: #EEEEF1;
    border-radius: 4px;
}

#rectangle-grey-1 {
    width: 120px;
}

#rectangle-grey-2 {
    width: 121px;
    margin-bottom: 10px;
}

.abbreviated-text__container {
    width: 406px;
    height: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#abbreviated-text {
    width: 332px;
    font-size: 9px;
    font-weight: 500;
    color: #5D5B66;
}

#expand {
    font-size: 9px;
    font-weight: 500;
    color: #7953C3;
    margin-left: 16px;
}

#arrow {
    width: 5px;
    height: 3px;
}

#rectangle-grey-big__container {
    width: 406px;
    height: 113px;
    border-radius: 8px;
    background-color: #F4F4F6;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 12px;
    padding-top: 27px;
    padding-bottom: 12px;
}

#rectangle-grey-3 {
    width: 198px;
    height: 20px;
    border-radius: 6px;
}

#rectangle-grey-4 {
    width: 308px;
    height: 14px;
    border-radius: 4px;
    margin-top: 2px;
}

#line-2 {
    width: 374px;
    height: 1px;
    background-color: #CCCCCC;
    margin-top: 8px;
}

.two-rectangle-grey__container {
    width: 374px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

#rectangle-grey-5 {
    width: 158px;
    height: 16px;
    border-radius: 4px;
}

#rectangle-grey-6 {
    width: 202px;
    height: 16px;
    border-radius: 4px;
}

.we-dont-know__container {
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    padding: 12px 16px;
    box-shadow: 
        0px 5.85px 22.15px 0 rgba(133,94,152,5.01%),
        0px 5.85px 22.15px 0 rgba(133,94,152,5.01%),
        0px 2.87px 10.86px 0 rgba(133,94,152,3.99%),
        0px 1.13px 4.29px 0 rgba(133,94,152,2.79%);
}

#we-dont-know-text-heading {
    font-size: 16x;
    font-weight: 700;
    color: #040013;
}

#we-dont-know-text-tell-about-yourself {
    font-size: 14px;
    font-weight: 500;
    color: #5D5B66;
}