.upper-part__container {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-family: Museo Sans Cyrl;
}

.creating-profile__container {
    width: 384px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.creating-profile__text {
    font-size: 32px;
    font-weight: 700;
    color: #040013;
    margin-right: 16px;
}

.about-myself__container {
    width: 76px;
    height: 26px;
    font-size: 16px;
    font-weight: 700;
    color: #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 1040px;
    height: 2px;
    background-color: #F4F4F6;
}

.short-line {
    width: 40px;
    height: 2px;
    background-color: #CDBDDB;
}

