.footer-part__conteiner {
    width: 1440px;
    height: 528px;
/*     background-color: #f2f562; */
    font-family: Museo Sans Cyrl;
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 64px;
}

.footer-information__container {
    width: 1040px;
    height: 144px;
/*     background-color: #666800; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 64px;
}

.support-text__container {
    width: 411px;
    height: 80px;
/*     background-color: #c2dfc7; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#email__text {
    width: 411px;
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    color: #7953C3;
}

#tech-support__text {
    width: 185px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #AAAAAA;
}

.usefull-information__container {
    width: 1040px;
    height: 24px;
    display: flex;
    flex-direction: row;
/*     background-color: #525252; */
}

#about-service {
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #040013;
}

#contacts {
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #040013;
}

#politika {
    margin-right: 522px;
    font-size: 16px;
    font-weight: 500;
    color: #040013;
}

#tg-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

#vk-icon {
    width: 24px;
    height: 24px;
}

.useless-text__container {
    width: 1040px;
    height: 40px;
 /*    background-color: #666800; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 80px;
}

.useless-text__text {
    width: 937px;
    height: 40px;
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 500;
}

.bvsr__container {
    width: 110px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #AAAAAA;
    margin-top: 20px;
}

#last-rectangle {
    width: 1440px;
    height: 12px;
    background-color: #7953C3;
}